<div class="row">
    <div class="col"></div>
    <div class="col-md-10 text-center">
        {% if user.is_authenticated %}
        {% load widget_tweaks %}
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% render_field comment_form.body class="form-control" %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Send</button>
            </div>
        </form>
        {% else %}
        Please log in or sign up to comment.
        {% endif %}
        
        {% if comments %}
            {% for comment in comments %}
            <div class="card">
                <div class="card-header">
                  {{ comment.author }} -- {{ comment.date }}
                </div>
                <div class="card-block">
                  <blockquote class="card-blockquote">
                    <p>{{ comment.body }}</p>
                  </blockquote>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <h3>There are no comments yet. Be first!</h3>
        {% endif %}
    </div>
    <div class="col"></div>
</div>