<div class="row">
    <div class="col-md-9">
        {% if searched_date or category_name %}
            <div class="row">
                <div class="col"></div>
                <div class="col-md-10">
                    {% if searched_date %}
                        <h3 class="results text-center">Searching by date: {{ searched_date }}</h3>
                    {% else %}
                        <h3 class="results text-center">Searching by category: {{ category_name }}</h3>
                    {% endif %}
                </div>
                <div class="col"></div>
            </div>
        {% endif %}
        {% for article in articles %}
            {% include 'blog_app/includes/single_article.html' %}
        {% empty %}
            <div class="row">
                <div class="col"></div>
                <div class="col-md-10">
                    <h3 class="results text-center">{{ error_text }}</p>
                </div>
                <div class="col"></div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col"></div>
            <div class="col-md-3">
                {% include 'blog_app/includes/pagination.html' %}
            </div>
            <div class="col"></div>
        </div> 
    </div>
    <div class="col">
        {% include 'blog_app/includes/right_section.html' %}
    </div>
</div>