<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %} - {% block description%}{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'blog_app/style.css' %}">
    </head>
    <body>
        <header id="main_header">
            <h1 class='main_headline'><a href="/">Lorem Ipsum</a></h1>
            <h4 class='main_description'>Curabitur sagittis nibh eu ex consequat, et pretium mauris tincidunt. Pellentesque consequat mattis varius. Nam efficitu</h4>
        </header>
        <div id="container">
             <hr>
            {% block container %}{% endblock %}
            <footer>2017 Echelon133</footer>
        </div>
    </body>
</html>