<section id="right_section">
                <aside>
                <section id="about">
                    <header class="name">John Doe</header>
                    <p class="author_description">I am a tech bloger. Bla bla bla test test</p> 
                </section>
                <ul id="contact">
                    <li>Twitter:@user123</li>
                    <li>Facebook:<a href="#">User123</a></li>
                    <li>Github:<a href="#">User123</a></li>
                    <li>Youtube:<a href="#">User123</a></li>
                </ul>
                </aside>
</section>