<section id="right_section">
                <aside>
                <section id="about">
                    <header class="name">{{ author_nick }}</header>
                    <p class="author_description">{{ author_description }}</p> 
                </section>
                <ul id="contact">
                    {% if authors_twitter %}
                    <li>Twitter:<a href="{{ authors_twitter }}">Follow me</a></li>
                    {% endif %}
                    {% if authors_facebook %}
                    <li>Facebook:<a href="{{ authors_facebook }}">My facebook profile</a></li>
                    {% endif %}
                    {% if authors_github %}
                    <li>Github:<a href="{{ authors_github }}">My Github</a></li>
                    {% endif %}
                    {% if authors_youtube %}
                    <li>Youtube:<a href="{{ authors_youtube }}">My Youtube</a></li>
                    {% endif %}
                </ul>
                </aside>
</section>