{% extends 'blog_app/main.html' %}

{% block title %}
404
{% endblock %}

{%  block main_headline %}
<a href="{% url 'homepage' %}">{{ headline }}</a>
{% endblock %}

{% block login %}
{% include 'blog_app/includes/login_section.html' %}
{% endblock %}

{% block container %}
<div class="row">
    <div class="col"></div>
    <div class="col-md-5">
        <h1 class="text-center error-code">404</h1>
        <p class="text-center error-text">Page Not Found</p>
    </div>
    <div class="col"></div>
</div>
{% endblock %}