{% extends "blog_app/includes/main.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block description %}
{{ description }}
{% endblock %}

{%  block main_headline %}
<a href="{% url 'homepage' %}">{{ headline }}</a>
{% endblock %}

{% block main_description %}
{{ description }}
{% endblock %}

{% block container %}
<article id="single_article">
                <header id="single_article_header"><h2>{{ title }}</h2></header>
                    <aside id="single_article_details">
                        <ul class="outer_list">
                            <li>Last modified: {{ last_modified }}</li>
                            <li>Categories:
                                {% for category in categories %}
                                <a href="{% url 'homepage' %}category/{{category.name}}" class="category">{{category.name}}</a>
                                {% endfor %}
                            </li>
                        </ul>
                    </aside>
                    <section class="article_body">
                        {{ article_body|safe }}
                    </section>
            </article>
{% endblock %}