{% extends 'blog_app/main.html' %}

{% block title %}
{{ title }}
{% endblock %}

{%  block main_headline %}
<a href="{% url 'homepage' %}">{{ headline }}</a>
{% endblock %}

{% block login %}
{% include 'blog_app/includes/login_section.html' %}
{% endblock %}

{% block container %}
<div class="row">
    <div class="col"></div>
    <div class="col-md-10">
        <article id="single-article">
            <header><h2 class="text-center">{{ title }}</h2></header>
                <aside class="text-center">
                    {% include 'blog_app/includes/categories.html' %}
                </aside>
                <section>
                    {{ article_body|safe }}
                </section>
        </article>
    </div>
    <div class="col"></div>
</div>
<hr class="my-4">
{% include 'blog_app/includes/comments_section.html' %}

{% endblock %}