{% extends 'blog_app/main.html' %}

{% block title %}
Searching by {{ category.name }}
{% endblock %}

{%  block main_headline %}
<a href="{% url 'homepage' %}">{{ headline }}</a>
{% endblock %}

{% block login %}
{% include 'blog_app/includes/login_section.html' %}
{% endblock %}

{% block container %}
    {% include 'blog_app/includes/login_section.html' %}
    {% include 'blog_app/includes/main_sections.html' with error_text='No articles in category or category doesn\'t exist' %}
{% endblock %}