#main-header {
    margin-top:15px;
}

.outer-list li {
    list-style-type:none;
    display:inline;
}

#single-article {
    margin-top: 70px;
}

#single-article section {
    margin-top:35px;
}

#right-section {
    margin-top:50px;
    text-align: center;
}

#contact li {
    list-style-type:none;
}

.results {
    margin-left:20px;
    margin-bottom:30px;
}

nav {
    margin-top:20px;
}