nav {
    margin-top:20px;
}

#main-header {
    margin-top:15px;
}

#single-article {
    margin-top: 40px;
}

#single-article section {
    margin-top:35px;
}

#single-article p {
    text-indent: 10px;
}

#single-article aside {
    margin-top:25px;
}

#right-section {
    margin-top:50px;
    text-align: center;
}

#contact li {
    list-style-type:none;
}

.results {
    margin-left:20px;
    margin-bottom:30px;
}

.card-block p {
    text-indent: 10px;
}

.outer-list li {
    list-style-type:none;
    display:inline;
}