@import url('https://fonts.googleapis.com/css?family=Rubik:300i,400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin-ext');
*, html {
    margin:0;
    padding:0;  
}

#main_header {
    margin:0 auto;
    width:1000px;
    min-height:200px;
}

.main_headline {
    text-align: center;
    padding-top:50px;
    font-size:50px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

.main_headline a:hover {
    text-decoration: underline;
}

.main_headline a:visited {
    color:black;
}

.main_description {
    text-align: center;
    font-size:18px;
    font-family: 'Rubik', sans-serif;
    color:grey;
    font-style:italic;
}

#container {
    margin:0 auto;
    width:1000px;
    min-height:700px;   
}

#left_section {
    width:700px;
    float:left;
    min-height:800px;
}

.results {
    font-family: 'Rubik', sans-serif;
    font-size:17px;
    margin-top:30px;
    margin-left:20px;
}

#right_section {
    width:300px;
    float:left;
    min-height:800px;
}

.homepage_article {
    width:670px;
    margin-top:30px;
    min-height:290px;
    margin-left:25px;
    display:block;
}

.article_header {
    padding-top:20px;
    margin-left:20px;
}

.article_header a {
    text-decoration: none;
    color:black;
}

.article_header a:visited {
    color:black;
}

.article_header > h2 {
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}

.article_details {
    margin-top:10px;
    margin-left:20px;
    font-family: 'Roboto', sans-serif;
    color:grey;
}

.outer_list li {
    display:inline;
    margin-left:5px;
}

.outer_list li a:hover {
    text-decoration: underline;
}

.category {
    margin-left:5px;
    background-color:grey;
    border-radius: 6px;
    color:white;
    text-decoration: none;
    padding:2px;
}

.article_body {
    margin-top:15px;
    margin-left:20px;
    margin-right:15px;
    font-family: 'Roboto', sans-serif;
}

.article_body p {
    text-indent: 5px;
}

#contact {
    margin-top:50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
}

#contact li {
    list-style-type: none;
}

#about {
    margin-top:30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.name {
    font-size:25px;
}

.author_description {
    font-size:15px;
}

#single_article {
    margin:0 auto;
    width:900px;
    min-height:600px;
}

#single_article_header {
    margin-top:40px;
    margin-bottom:20px;
    font-size:45px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#single_article_details {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin-bottom:35px;
}

#single_article .article_body {
    font-size:25px;
}

#single_article .article_body p {
    margin-bottom:25px;
    text-indent: 20px;
}

#error {
    margin:0 auto;
    width:400px;
    font-family:'Roboto', sans-serif;
    text-align: center;
    margin-top:40px;
}

#error p {
    font-size:22px;
}

.error_number {
    font-size:25px;
}

.pagination {
    width:200px;
    margin:0 auto;
    margin-bottom:50px;
    text-align:center;
    font-family: 'Rubik', sans-serif;
}

.pagination a {
    text-decoration: none;
    color:black;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination a:visited {
    color:black;
}

.current {
    color:grey;
}

footer {
    margin-top:50px;
    text-align:center;
    font-family: 'Rubik', sans-serif;
    clear:both;
}